// Action names might change between versions
// Read /usr/share/polkit-1/actions/org.freedesktop.login1.policy for these names
// Place this file in /usr/share/polkit-1/rules.d

polkit.addRule(function(action, subject) {
    if (subject.isInGroup("sudo") ) {	
	    if(action.id=="org.freedesktop.login1.reboot" || 
           action.id=="org.freedesktop.login1.power-off" || 
           action.id=="org.freedesktop.login1.suspend") {		
            return polkit.Result.YES;
	    }		
    }
});

// Consider:
// subject.user == "administrator"
